# === Virtual Environments ===
venv/
.env/

# === Python Cache ===
__pycache__/
*.pyc
*.pyo

# === Jupyter Notebook ===
.ipynb_checkpoints/

# === Logs & Output (folder saja) ===
logs/
*.log

# === System Files ===
.DS_Store
Thumbs.db

# === VSCode ===
.vscode/
